@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap");
@import "tailwindcss";

@theme {
  --font-title: "Sigmar", sans-serif;
  --font-subtitle: "Bebas Neue", sans-serif;
  --font-text: "Roboto Condensed", sans-serif;
  --color-purple: #cb6ce6;
  --color-darkpurple: #760097;
  --color-green: #0097b2;
  --color-gray: #f2f2f2;
  --color-black-900: #181817;
  --color-black-800: #080808;
  --color-gray-500: #676767;
}

@custom-variant dark (&:where(.dark, .dark *));
